<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Erreur!</h4>
  <p>Cet utilisateur existe déjà</p>
  <hr>
  <p class="mb-0">
    <a href="<%= new_user_path%>" class="btn btn-success my-2 my-sm-0">Recommencer</a>
    <a href="<%= home_path%>" class="btn btn-primary my-2 my-sm-0">Revenir à la page d'accueil</a>
  </p>
</div>